{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "menu.html" %}
    <div class="container">
    <h1>Hello World!</h1>
    <p>Esto es una prueba de HTML.</p>
    <p>Esta es la segunda línea.</p>
    <p>Esto es la tercera línea.</p>
    <p>Esto es la cuarta línea.</p>
    <p>Esto es la quinta línea.</p>
    <p>Esto es la sexta línea.</p>
    <p>Esto es la séptima línea.</p>
    <p>Esto es la octava línea.</p>
    <p>Esto es la novena línea.</p>
    <p>Esto es la décima línea.</p>
    <p>Esto es la décima primera línea.</p>


      
    </div>
    {% include 'footer.html' %}
    {% endblock %} 
</body>
</html>